
#naslovna img
{
    height: 600px;
    width: 100%;
   

    
    
}

#naslovnalevo h1{  
    padding-top: 40%;
    padding-left: 5%;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
font-size: 40px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;      
}
#naslovnalevo h4
{
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    
padding-left: 5%;
letter-spacing: 2px;
font-size: 20px;
word-spacing: 2px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}


#prvi
{
    margin-top: 2%;
    text-align: justify;
    
}
#prvi h1
{
    text-align: center;
    margin-bottom: 4%;
    
}

#prvi img
{
    height: 480px;
    padding-top: 14%;
}

#drugi
{
    margin-top: 50px;
    text-align: justify;
}
#drugi img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#drugi h1
{
    text-align: center;
    margin-bottom: 6%;
    
}
#treci {
    margin-top: 5%;
    text-align: justify;
}
#treci p 
{
    margin-top: 5%;
}
#treci h1 
{
    text-align: center;
    margin-bottom: 6%;
}
#treci img{
    width: 350px;
    float: right;
}

#treci h5
{
    margin-top: 2%;

}
#cetvrti .card
{
    margin-top: 7%;

}